a.sm-searchbox-more{display:none}
h2,h3,h4,h5,h6,h2 a,h3 a,h4 a,h5 a,h6 a{color:#009975}
img{max-width:100%}
body.blog-index-list h3.postTitle,body.blog-index-list .more a{font-weight:700;color:#009975}
body.blog-index-list .create-time{font-style:italic;color:#A3A3A3}
.upper-footer{background-color:#1abc9c;padding:20px 0;color:#fff;font-size:12px}
.upper-footer .text-primary{color:#fff}
.upper-footer h2{font-size:20px;margin-bottom:10px;font-weight:700}
#yt_content{padding-bottom:30px}
body.cms-home .row+.row{margin-top:20px}
body.cms-home .breadcrumbs{display:none}
body.cms-home .std .row{margin:20px 0}
body.cms-home .std .row .content h1{color:#009975;font-weight:700;font-size:21px;margin-bottom:15px}
body.cms-home .std .row .content a.toggle{margin-top:10px;display:inline-block;padding:5px 20px;color:#fff;background-color:#009975;transition:all .2s ease-out;-webkit-transition:all .2s ease-out}
body.cms-home .std .row .content a.toggle:hover{opacity:.8}
.product-grid .product-image{text-align:center}
.product-info{text-align:center;margin-top:20px}
.category-products .item .product-image{margin:10px}
.toolbar .pagination-wrap .pagination .pages ol li a.next,.toolbar .pagination-wrap .pagination .pages ol li a.previous{height:31px}
.socials-wrap ul li a.icon-youtube{background-color:#b31217}
div.sitemap ul >li > div a{padding:5px 20px;background-color:#009975;color:#fff;display:block;margin-top:5px;transition:all .2s ease-out;-webkit-transition:all .2s ease-out}
div.sitemap ul >li >div a:hover{opacity:.8}
div.sitemap ul > li > ul{margin-left:20px}
#yt_header.header1-wrap .mega-horizontal-wrap{background-color:#1abc9c}
#yt_header.header1-wrap .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1.sm_megamenu_actived > a,#yt_header.header1-wrap .sm_megamenu_wrapper_horizontal_menu .sm_megamenu_menu .sm_megamenu_lv1 > a:hover{background-color:#009975}
.more-wrap{display:none}
.yt-menu-content .yt-menu-nav > #nav.nav-menu li > a > span{color:#1abc9c}
.yt-menu-content .yt-menu-nav > #nav.nav-menu li > a:hover >span{color:#fff}
form#search_mini_form .jqTransformSelectWrapper span,form#search_mini_form .jqTransformSelectWrapper ul li a{color:#1abc9c}
form#search_mini_form .jqTransformSelectWrapper ul li a:hover{color:#fff;background-color:#1abc9c}
div.product-essential{font-size:13px}
.upper-footer .google-maps{position:relative;padding-bottom:50%;overflow:hidden}
.upper-footer .google-maps iframe{position:absolute;top:0;left:0;width:100%!important;height:150px!important}
.services-home{margin-top:50px}
.services-home #yt_wrapper .category-products .yt-products-container{margin-top:0}
.services-home .product-name a{font-size:90%;line-height:105%}
.services-home h2{font-size:200%;border-bottom:solid 1px #ccc;color:#444;font-weight:700}
.services-home h2 > span{padding-bottom:5px;border-bottom:solid 2px #1abc9c;display:inline-block}
.services-home .products-grid .item{min-height:300px}
.products-grid .item .product-name{line-height:1.2em;height:2.4em;overflow:hidden;}
.services-home .products-grid .item .product-name{height:4.8em;}
.yt-header-middle .logo{text-align:center;}
#yt_header .yt-header-middle{padding: 10px 0;}
#yt_header .yt-header-middle .logo{padding:25px 0;}
#yt_header .yt-header-middle .header-info{margin-left:-15px;color:#1abc9c;font-style:italic;}
#yt_header .yt-header-middle .header-info p.company-name{font-weight:bold;font-size:200%;font-style:normal;}
